.card_login {
  // align-content: center;
  width: 40%;
  height: 50%;
  // align-items: center;
  justify-content: space-between;
  margin-left: 30%;
}

.ion-padding {
  background-color: red;
  #background-content {
    background-color: yellow !important;
  }
}

.inner-scroll {
  background-color: red;
}
