.CardPrueba {
  width: 100%;
  height: auto;
}

.CardPrueba img {
  min-height: 350px;
  max-height: 350px;
}

.general_cards {
  width: 100%;
  height: 10%;
}

ion-card {
  position: relative;
  text-align: center;
}
