<ion-header [translucent]="true">
  <ion-buttons>
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="general_cards">
  <ion-row>
    <ion-col sizeLg="3" sizeMd="6" sizeXs="12" *ngFor="let item of infoCards">
      <ion-card class="CardPrueba" [routerLink]="['/reserva', item.id]">
        <img [src]="item.image" alt="foto" />
        <p style="padding: 10px; font-weight: 600">{{item.name}}</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
