<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title> DespegalaAirlines </ion-title> -->
    <!-- viajes -->
    <ion-segment value="home">
      <ion-segment-button value="home">
        <ion-label>inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/viajes']" value="all">
        <ion-label>viajes</ion-label>
      </ion-segment-button>
      <!-- alojamiento -->
      <ion-segment-button [routerLink]="['/alojamiento']" value="favorites">
        <ion-label>alojamiento</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="general_cards">
  <ion-row>
    <ion-col sizeLg="3" sizeMd="6" sizeXs="12" *ngFor="let item of infoCards">
      <!-- Cards of reserve -->
      <ion-card class="CardPrueba" [routerLink]="[item.id]">
        <img [src]="item.image" alt="foto" />
        <p style="padding: 10px; font-weight: 600">{{item.name}}</p>
      </ion-card>
  </ion-col>
</ion-row>
  <!-- 6 -->
</ion-content>
